[Desktop Entry]
Name=Snigdha OS Installer
GenericName=Snigdha OS Installer
X-GNOME-FullName=Snigdha OS Installer
Comment=Post Installer For Snigdha OS
Exec=/usr/bin/snigdhaos-installer
Icon=snigdhaos-installer-icon
Terminal=false
Type=Application
Categories=GTK;GNOME;Utility;Settings
Keywords=snigdhaos,tool,installer
StartupNotify=true